body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.main {
  display: flex;
}

.left {
  width: 450px;
  margin-top: 70px;
}

.logo {
  text-align: center;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.logo p {
  margin-top: 10px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  margin-bottom: 20px;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

button {
  background-color: #1877f2;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  color: white;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #1877f2;
}

.signup {
  background-color: #42b72a;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  cursor: pointer;
}
